body{
  background-color: #ffffff;
}
.primer-pantalla {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
}

.primer-pantalla .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.primer-pantalla .text-wrapper {
  position: absolute;
  width: 606px;
  top: 265px;
  left: 35px;
  font-family: American Typewriter (serif) ;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.primer-pantalla .image {
  width: 306px;
  height: 321px;
  top: 245px;
  left: 915px;
  position: absolute;
  object-fit: cover;
}

.primer-pantalla .p {
  position: absolute;
  width: 832px;
  top: 319px;
  left: 20px;
  font-family:American Typewriter (serif) ;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.primer-pantalla .overlap-group {
  position: absolute;
  width: 1443px;
  height: 205px;
  top: 0;
  left: 0;
  background-color: #d4f5f8;
  border-bottom-left-radius:10% 30% ;
  border-bottom-right-radius:10% 30% ;}

.primer-pantalla .text-wrapper-2 {
  position: absolute;
  width: 1271px;
  top: 0px;
  left: 16px;
  font-family: American Typewriter (serif);
  font-weight: 300;
  color: #000000;
  font-size: 62px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.primer-pantalla .text-wrapper-3 {
  position: absolute;
  width: 235px;
  top: 634px;
  left: 748px;
  font-family: "Abhaya Libre-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.primer-pantalla .img {
  width: 505px;
  height: 338px;
  top: 635px;
  left: 16px;
  position: absolute;
  object-fit: cover;
}

.primer-pantalla .si-sientes-que-est-s {
  position: absolute;
  width: 756px;
  top: 684px;
  left: 560px;
  font-family: American Typewriter (serif);
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}
.primer-pantalla .imag {
  width: 340px;
  height: 320px;
  top: 997px;
  left: 37px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .si-otra-pers-desm {
  position: absolute;
  width: 706px;
  top: 984px;
  left: 563px;
  font-family: American Typewriter (serif);
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}
.primer-pantalla .img-hei {
  width: 440px;
  height: 320px;
  top: 1399px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .heimlich {
  position: absolute;
  width: 704px;
  top: 1484px;
  left: 563px;
  font-family: American Typewriter (serif);
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}
.primer-pantalla .text-wrapper-4 {
  position: absolute;
  width: 235px;
  top: 1430px;
  left: 748px;
  font-family: "Abhaya Libre-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.primer-pantalla .img-quem-quim {
  width: 440px;
  height: 280px;
  top: 1899px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .quemaduras {
  position: absolute;
  width: 704px;
  top: 1880px;
  left: 563px;
  font-family: American Typewriter (serif);
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}
.primer-pantalla .text-wrapper-5 {
  position: absolute;
  width: 235px;
  top: 1830px;
  left: 748px;
  font-family: "Abhaya Libre-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.primer-pantalla .img-quem-inal {
  width: 440px;
  height: 280px;
  top: 2230px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .img-quem-ocular {
  width: 440px;
  height: 280px;
  top: 2570px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .img-pers-quem {
  width: 440px;
  height: 280px;
  top: 2970px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .img-epil {
  width: 440px;
  height: 280px;
  top: 3420px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .epilepsia {
  position: absolute;
  width: 704px;
  top: 3470px;
  left: 563px;
  font-family: American Typewriter (serif);
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}
.primer-pantalla .text-wrapper-6 {
  position: absolute;
  width: 235px;
  top: 3420px;
  left: 748px;
  font-family: "Abhaya Libre-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.primer-pantalla .img-rcp {
  width: 440px;
  height: 280px;
  top: 3900px;
  left: 27px;
  position: absolute;
  object-fit: cover;
}
.primer-pantalla .rcp {
  position: absolute;
  width: 704px;
  top: 3770px;
  left: 563px;
  font-family: American Typewriter (serif);
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}
.primer-pantalla .text-wrapper-rcp {
  position: absolute;
  width: 235px;
  top: 3700px;
  left: 748px;
  font-family: "Abhaya Libre-Regular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
